<script setup>

</script>

<template>
  <main role="main">
    <section class="mt-4 mb-5">
      <div class="container mb-4">
        <h1 class="font-weight-bold title">Explore</h1>
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
            <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExplore">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Lifestyle</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Food</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Travel</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                  <div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Astronomy</a>
                    <a class="dropdown-item" href="#">Nature</a>
                    <a class="dropdown-item" href="#">Cooking</a>
                    <a class="dropdown-item" href="#">Fashion</a>
                    <a class="dropdown-item" href="#">Wellness</a>
                    <a class="dropdown-item" href="#">Dieting</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="card-columns">
            <div class="card card-pin">
<!--              <img class="card-img" src="/src/assets/img/1.jpg" alt="Card image">-->
              <div class="overlay">
                <h2 class="card-title title">Cool Title</h2>
                <div class="more">
                  <a href="post.html">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
                </div>
              </div>
            </div>
            <div class="card card-pin">
<!--              <img class="card-img" src="/src/assets/img/2.jpg" alt="Card image">-->
              <div class="overlay">
                <h2 class="card-title title">Cool Title</h2>
                <div class="more">
                  <a href="post.html">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
                </div>
              </div>
            </div>
            <div class="card card-pin">
<!--              <img class="card-img" src="/src/assets/img/3.jpg" alt="Card image">-->
              <div class="overlay">
                <h2 class="card-title title">Cool Title</h2>
                <div class="more">
                  <a href="post.html">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
                </div>
              </div>
            </div>
            <div class="card card-pin">
<!--              <img class="card-img" src="/src/assets/img/4.jpg" alt="Card image">-->
              <div class="overlay">
                <h2 class="card-title title">Cool Title</h2>
                <div class="more">
                  <a href="post.html">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
